body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  color: #212121;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h4,
h5,
h6 {
  font-weight: 300;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffea00;
}

a:focus {
  text-decoration: none;
  color: #ffea00;
}

a:hover,
a:active {
  text-decoration: none;
  color: #ffea00;
}

.header {
  background-color: #3f51b5;
  color: #ffffff;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.profile-img {
  border-radius: 50%;
}

.contact a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.feature {
  padding-top: 2em;
  padding-bottom: 2em;
}

.icon-header {
  text-align: center;
}

.security {
  background-color: #ffffff;
}

.developer {
  background-color: #e8eaf6;
}

.photographer {
  background-color: #ffffff;
}

.text-link {
  font-weight: 600;
  color: #3f51b5 !important;
  text-decoration: none;
}

.footer {
  background-color: #3f51b5;
  color: #ffffff;
  text-align: center;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
}

.footer-text {
  margin-bottom: 0.2em;
}
