body  {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFFFFF;
  color: #212121;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h4, h5, h6 {
  font-weight: 400;
}

p {
  font-size: 1.1em;
}

a {
  color: #FFFFFF;
}

a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  color: #FFEA00;
}

a:focus {
  text-decoration: none;
  color: #FFEA00;
}

a:hover, a:active {
  text-decoration: none;
  color: #FFEA00;
}

.header {
  background-color: #3F51B5;
  color: #FFFFFF;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.profile-img {
  border-radius: 50%;
}

.contact a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.feature {
  padding-top: 2em;
  padding-bottom: 2em;
}

.icon-header {
  text-align: center;
}

.security {
  background-color: #FFFFFF;
}

.developer {
  background-color: #E8EAF6;
}

.photographer {
  background-color: #FFFFFF;
}

.text-link {
  font-weight: 600;
  color: #3F51B5 !important;
  text-decoration: none;
}

.footer {
  background-color: #3F51B5;
  color: #FFFFFF;
  text-align: center;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
}

.footer-text {
  margin-bottom: 0.2em;
}
