body {
  font-family: "Space Mono", monospace;
  background-color: white;
  /* color: #181818; */
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h4,
h5,
h6 {
  font-weight: 300;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}

a {
  /* color: #181818; */
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  /* color: #181818; */
}

a:hover {
  text-decoration: none;
  /* color: #ffea00; */
}

a:focus {
  text-decoration: none;
  /* color: #ffea00; */
}

a:hover,
a:active {
  text-decoration: none;
  /* color: #ffea00; */
}

.navbar {
  background-color: rgba(255, 255, 255, 0)
}

.subtitle {
  margin-bottom: 0px;
}

.subs-two {
  margin-top: -1.25rem;
}